.weather-app {
  border: 1px solid gray;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 10px;
}

h1 {
  color: #0f6a9b;
  margin: 0;
}

form {
  margin: 0 auto;
  width: 500px;
}

.card-title {
  color: #0f6a9b;
}

.card-body {
  color: #939a9e;
  font-size: 12px;
}
