.weather-app {
  border: 1px solid gray;
  max-width: 800px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  margin-top: 35px;
  margin-bottom: 20px;
  background-image: radial-gradient(
      at top center,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 100%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(143, 152, 157, 0.6) 100%
    );
  background-blend-mode: normal, multiply;
}

form {
  margin: left;
  margin-bottom: 15px;
  width: 500px;
}

h1 {
  color: #0f6a9b;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h4 {
  color: #2786ba;
}

h2 {
  color: #788891;
  margin-left: 80px;
}

p:first-letter {
  text-transform: uppercase;
}

p {
  color: #469dbf;
  font-size: 14px;
}

ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  color: #a5a9aa;
}

li {
  float: left;
  padding: 5px;
}

.card-title {
  color: #0f6a9b;
}

.card-body {
  color: #939a9e;
  font-size: 12px;
}

.notice {
  color: #bfbbbb;
  text-align: right;
}
